@import "../../../assets/styles/setup/variables";
.moves-container {
  h2 {
    padding: 10px 20px;
  }
  p {
    border-radius: 3px;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 860px) {
  .moves-container {
    p {
      &:hover {
        background-color: $clr4;
      }
    }
  }
}
