@import "../../../assets/styles/setup/variables";
.home-page {
  margin-top: 100px;
  p {
    margin-bottom: 40px;
  }
  .greet-user-container {
    flex-direction: column;
    gap: 20px;
    .transactions {
      text-align: center;
      background-color: $clr6;
      border-radius: 3px;
      margin-bottom: 40px;
    }
  }
  .signup {
    width: max-content;
    justify-content: center;
    .signup-btn {
      align-self: center;
    }
  }
}

@media screen and (min-width: 860px) {
  .home-page {
    margin-top: 100px;
    p {
      margin-bottom: 40px;
    }
    .greet-user-container {
      flex-direction: row;
      gap: 15%;
    }
  }
}
