// @font-face {
//   font-family: azonix;
//   src: url(../../fonts/Azonix/Azonix-1VB0.otf);
// }
// @font-face {
//   font-family: Earth-orbiter;
//   src: url(../../fonts/EarthOrbiter/EarthOrbiterBold-vzD9.otf);
// }

@font-face {
  font-family: NatoSans;
  src: url(../../fonts/NatoSans/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NatoSans-bold;
  src: url(../../fonts/NatoSans/NotoSans-Bold.ttf);
}
