@import "../../../assets/styles/setup/_variables.scss";
.contact-preview {
  padding: 10px 20px 0px 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  align-items: center;
  height: 130px;
  border: 1px solid $clr6;
  p {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .actions {
    padding-left: auto;
    padding-right: auto;

    grid-template-columns: repeat(2, 40px);
    margin-top: 5px;
    height: 30px;
    img {
      width: 20px;
    }
    & button:last-of-type {
      grid-column: 1/-1;
    }
  }
}

@media screen and (min-width: 860px) {
  .contact-preview {
    border: none;
    .actions {
      visibility: hidden;
      & button:last-of-type {
        display: none;
        // background-color: aqua;
      }
    }
    &:hover {
      background-color: $clr6;
      .actions {
        display: grid;
        visibility: visible;
        img {
          &:hover {
            width: 25px;
          }
        }
      }
    }
  }
  .more-btn {
    display: none;
  }
}
